<div class="">
  <input
    type="file"
    name="imageUrl"
    id="imageUrl"
    hidden
    onchange="pickedhandler(event)"
  />
  <div class="image-upload center">
    <div class="image-upload__preview">
      <img
        src="<% http://via.placeholder.com/640x360 %>"
        alt="Preview"
      />
    </div>
  </div>
</div>
